@charset "utf-8";


@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);

/*
* Noto Sans KR (korean) http://fonts.googleapis.com/earlyaccess/notosanskr.css
*/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans KR'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'),
		url('../fonts/NotoSansKR-Thin.eot'),
		url('../fonts/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans KR'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'),
		url('../fonts/NotoSansKR-Light.eot'),
		url('../fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans KR'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'),
		url('../fonts/NotoSansKR-Regular.eot'),
		url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Noto Sans KR Medium';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans KR'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'),
		url('../fonts/NotoSansKR-Medium.eot'),
		url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans KR'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'),
		url('../fonts/NotoSansKR-Bold.eot'),
		url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans KR'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'),
		url('../fonts/NotoSansKR-Black.eot'),
		url('../fonts/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'); /* IE9 Compat Modes */
}